<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ps.room.headclearancepro">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/headclearance_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/headclearance_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="ps.room.headclearancepro.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="ps.room.headclearancepro.FastenerTypesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ps.room.headclearancepro.FastenerTypesActivity"/>
        </activity>
        <activity android:name="ps.room.headclearancepro.FastenerDetailActivity" />
        <activity android:name="ps.room.headclearancepro.FastenerTypesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ps.room.headclearancepro.FastenersListActivity" />
    </application>

</manifest>